<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
">

  <!--<context:annotation-config />-->
  <context:component-scan base-package="org.eminentstar.ioc.bean.annotated"/>

  <bean id="hello" class="org.eminentstar.ioc.bean.annotated.resource.Hello">
    <property name="name" value="Spring"/>
  </bean>

  <bean id="printer" class="org.eminentstar.ioc.bean.annotated.resource.StringPrinter"/>
  <bean id="printer2" class="org.eminentstar.ioc.bean.annotated.resource.StringPrinter"/>
</beans>