<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <context:annotation-config />
  <!--<context:component-scan base-package="org.eminentstar.ioc.bean.annotated"/>-->

  <bean id="hello"
    class="org.eminentstar.ioc.bean.Hello">
    <property name="name" value="Spring"/>
  </bean>

  <bean id="hello2" class="org.eminentstar.ioc.bean.Hello">
    <property name="name" value="#{hello.name}"/>
  </bean>

  <util:properties id="dbprops" location="classpath:database.properties"/>

  <bean id="dataSource"
    class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="#{dbprops['db.driverClass']}"/>
    <property name="url" value="#{dbprops['db.url']}"/>
    <property name="username" value="#{dbprops['db.username']}"/>
    <property name="password" value="#{dbprops['db.password']}"/>
  </bean>

</beans>