<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config /> <!-- HelloController가 @Autowired를 통해 의존관계를 설정했기 떄문에 사용 -->

  <context:component-scan base-package="org.eminentstar.learningtest.spring.controllers"/>

  <!-- bean tag의 name은 id와 달리 문자열의 종류에 제한이 없음. -->
  <bean name="/hello" class="org.eminentstar.temp.HelloController"/>

  <bean name="simpleInterceptor" class="org.eminentstar.interceptor.SimpleInterceptor"/>
  <bean name="secondInterceptor" class="org.eminentstar.interceptor.SecondInterceptor"/>

  <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
    <property name="interceptors">
      <list>
        <ref bean="simpleInterceptor" />
        <ref bean="secondInterceptor" />
      </list>
    </property>
  </bean>

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/view/"/>
    <property name="suffix" value=".jsp"/>
  </bean>
</beans>